@import "bootstrap";

$images: ('antiques01.jpg', 'antiques02.jpg', 'antiques03.jpg',
'antiques04.jpg', 'antiques05.jpg', 'antiques06.jpg',
'antiques07.jpg', 'antiques08.jpg', 'antiques09.jpg');

$white: rgba(255, 255, 255, 0.8);

$img: nth($images, random(length($images)));

* { padding: 0; margin: 0; background: transparent; }

html, body {
    min-height: 100%;
    height: 100%;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

body {
  width: 100%;
  color: $white;
  position: relative;
  background: black;
  &:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url($img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%) opacity(50%);
    width: 100%;
    min-height: 100%;
    z-index: -1;
  }
}

h1, h2 {
  font-family: 'Abril Fatface', cursive;
  font-style: italic;
}

a:link, a:hover, a:visited, a:active {
  color: #fff;
}

input, textarea {
  border: 2px solid $white;
  width: 300px;
  padding: 0.25em;
  line-height: 1.5em;
  border-radius: 0.25em;
  color: $white;
}

textarea {
  resize: none;
}

form > div, .btn {
  margin: 1em 0em;
}

.btn {
  color: $white;
  border: 2px solid $white;
  &:hover {
    background-color: $white;
    border-color: $white;
    color: #000;
  }
}
